body{
    height: 100%;
    background-color: #e3c4e2;
    text-align: center;
    font-family: Montserrat,serif;
    font-size: medium
}
.hello{
    position: absolute;
}
h1{
   
   line-height: 1;
    font-family: sacramento,cursive;
    font-size:5.625rem ;
    color: #07154722;
    margin-bottom: 0;
}
h2{
    
    font-size: 2.5rem;
    font-weight: normal;line-height: 2;
   

}
.hii{
    margin: 0    0px  0   500px;
}
.h1{
    width: 100%;
    height:600px;
    

}
.cloud1{
    margin: 0  500px 0 0;
    display: block;
}
.cloud2{
  
    position: absolute;
    right:400px;
}
a{  
   color : #11999E;
    text-decoration: none;
    padding: 0 20px ;
}
a:hover{
    color: #ffffff;
}
.skill-row1{
    width: 50%;
   align-self: center;
   margin: 100px auto 100px auto;
   line-height: 2;
}
.line3,
.line4{
    text-align: left;
}
.image{
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
hr{
    width: 10%;
    border-top:rgb(28, 28, 29);
    border: dotted #66BFBF 10px ;
    border-bottom: none;
    size: 2rem;
   
    
   
}
.im{
    background-color: #66BFBF;
}
.intro{
    width: 40%;
    margin: 40px auto 60px ;
}
.bottom-container{
    width:100%;
    margin: 100px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    background-color: #66BFBF;
}

    .btn {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #abc7d9);
        background-image: -moz-linear-gradient(top, #3498db, #abc7d9);
        background-image: -ms-linear-gradient(top, #3498db, #abc7d9);
        background-image: -o-linear-gradient(top, #3498db, #abc7d9);
        background-image: linear-gradient(to bottom, #3498db, #abc7d9);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Courier New;
        color: #ffffff;
        font-size: 22px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #d63cfc;
        background-image: -webkit-linear-gradient(top, #d63cfc, #13405e);
        background-image: -moz-linear-gradient(top, #d63cfc, #13405e);
        background-image: -ms-linear-gradient(top, #d63cfc, #13405e);
        background-image: -o-linear-gradient(top, #d63cfc, #13405e);
        background-image: linear-gradient(to bottom, #d63cfc, #13405e);
        text-decoration: none;
      
      }

      .q{
        color:#ffffff;
        font-size: small;
        margin:20px 0;
      }